/* Style for the container */
.container {
  flex-direction: column;
  padding-left: 30px;
}

/* Style for the header */
.header h1 {
  margin: 0;
  align-items: center;
  width: 120%;
  margin: 10px;
  padding: 10px;
}

.container-search-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
}

/* Updated Style for the search bar */
.search-bar {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #b0c4de;
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 10px; /* Increase padding for better input spacing */
  border: none;
  background-color: transparent; /* Transparent input background */
  font-size: 16px; /* Larger font size for readability */
  color: #fff; /* Set text color to white */
  outline: none;
}

/* Style for the search icon */
.search-icon {
  font-size: 24px; /* Slightly larger icon size */
  margin-right: 10px;
  color: #fff; /* Set icon color to white */
  cursor: pointer; /* Add a pointer cursor for interaction */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.search-icon:hover {
  color: #f39c12; /* Change icon color on hover */
}

/* Style for the button */
.custom-button {
  width: 190px;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  background-color: #5b9dff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

/* Style for the table container */
.tbl-container {
  overflow-x: auto; /* Enable horizontal scrollbar when needed */
  max-width: 70%; /* Ensure the table container doesn't exceed its parent */
  max-height: 300px; /* Adjust the height as needed */
}

@media screen and (max-width: 640px) {
  .search-bar {
    width: auto;
  }
}

@media screen and (max-width: 800px) {
  .search-bar {
    width: auto;
  }
}

@media screen and (max-width: 1024px) {
  .search-bar {
    width: auto;
  }
}
