* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.test {
  overflow-x: auto;
}
.Table {
  display: flex-row;
  justify-content: flex-end;
}
.Search {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  gap: 13px;
  margin-right: 20px;
}
.icon {
  color: brown;
  width: 23px;
  height: 40px;
  padding: 2px;
}
input {
  height: 30px;
  width: 250px;
}
.button {
  float: right;
  margin-right: 25px;
}
