/* components/style.css */

/* Style for the container */
.container {
  flex-direction: column;
  padding-left: 30px;
}

/* Style for the header */
.header h1 {
  margin: 0;
  align-items: center;
  width: 120%;
  margin: 10px;
  padding: 10px;
}

.container-search-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  padding-right: 10px;
}

/* Style for the search bar */
.search-bar {
  width: 300px;
  height: 50px;
  margin: 10px;
  margin-right: 0px;
  background-color: #fff3da;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: flex-end;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 5px;
  border: none;
  background-color: #fff3da;
}

/* Style for the icons */
.search-icon,
.plus-icon {
  font-size: 20px;
  margin-right: 15px;
}

/* Style for the button */
.custom-button {
  width: 190px;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  background-color: #5b9dff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

/* Style for the table container */
.tbl-container {
  overflow-x: auto; /* Enable horizontal scrollbar when needed */
  max-width: 70%; /* Ensure the table container doesn't exceed its parent */
  max-height: 300px; /* Adjust the height as needed */
}

/* Style for the table */
.custom-table {
  border-collapse: collapse;
  width: 99%;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  border: 1px solid #f6f5f5;
  text-align: center;
}

.custom-table th {
  background-color: #fff3da;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.custom-table tbody tr:hover {
  background-color: #f2f2f2;
}

/* Style for the edit and delete buttons */
.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 5px;
  font-size: 16px;
  color: #1dbb6f;
}
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 5px;
  font-size: 16px;
  color: #c61717;
}
.fixedTable {
  overflow-y: auto;
  height: 400px;
}
.fixedTable .custom-table thead th {
  position: sticky;
  top: 0px;
}
