* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table,
td,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 95%;
  justify-content: flex-end;
}

td {
  height: 35px;
  padding: 10px;
  vertical-align: bottom;
}
th {
  overflow-x: auto;
  text-align: center;
}
table {
  float: right;
  margin: 10px;
}
