/* Style for the container */

.container {
  box-sizing: border-box;
  height: 970px;
  display: flex;
  flex-direction: column; /* Make the children stack vertically */
}

.topSection {
  padding: 5px 40px;
  width: 100%;
  float: left;
}

.col1 {
  width: 25%;
  float: left;
}

.midSection {
  padding: 15px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.col2 {
  padding: 10px;
  width: 60%;
}

.col3 {
  margin: 0px 10px;
  padding: 20px;
  width: 40%;
}

.barChart {
  border: 1px solid rgb(163, 165, 172);
  border-radius: 5px;
  padding: 0px 15px;
  width: 800px;
  height: 380px;
}

.barChart:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(
    -5px
  ); /* Bounce effect by moving the card up slightly */
}

.doughnutChart {
  border: 1px solid rgb(163, 165, 172);
  border-radius: 5px;
  padding: 0px 15px;
  margin: 0px;
  width: 450px;
  height: 380px;
}

.doughnutChart:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(
    -5px
  ); /* Bounce effect by moving the card up slightly */
}

.bottomSection {
  padding: 15px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pieChart {
  border: 1px solid rgb(163, 165, 172);
  border-radius: 5px;
  padding: 15px;
  width: 450px;
  height: 380px;
}

.pieChart:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(
    -5px
  ); /* Bounce effect by moving the card up slightly */
}

/*components*/
.card {
  width: 17rem;
  height: 10rem;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(
    -5px
  ); /* Bounce effect by moving the card up slightly */
}

.card-body {
  padding: 10px 10px 8px;
}

.title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.value {
  font-size: 19px;
  margin-bottom: 8px;
  font-weight: bold;
}

.subtitle {
  font-size: 12px;
  margin-bottom: 8px;
}
