.container {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column; /* Make the children stack vertically */
  justify-content: space-between; /* Distribute space evenly between children */
  padding: 0px 45px;
}

.topSection {
  padding: 5px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Distribute space evenly between children */
}

.col1 {
  width: 100%;
}

.midSection {
  padding: 15px;
  flex: 0; /* Let this section grow to fill the remaining space */
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1; /* Allow this column to fill available space */
  padding-left: 24px;
  float: left;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

.doughnutChart,.pieChart {
  display: flex;
  align-self: center;
  border: 1px solid rgb(163, 165, 172);
  border-radius: 5px;
  padding: 15px;
  width: 550px; /* Make the chart fill its container */
  height: 380px; /* Make the chart fill its container */
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.barChart {
  border: 1px solid rgb(163, 165, 172);
  border-radius: 5px;
  padding: 15px;
  width: 980px; /* Make the chart fill its container */
  height: 380px; /* Make the chart fill its container */
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.table-form {
  border: 1px solid rgb(163, 165, 172);
  border-radius: 5px;
  padding: 15px;
  width: 980px; /* Make the chart fill its container */
  height: 380px; /* Make the chart fill its container */
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.barChart:hover,
.doughnutChart:hover,
.pieChart:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(
    -5px
  ); /* Bounce effect by moving the card up slightly */
}

.bottomSection {
  padding: 15px;
  flex: 0; /* Let this section grow to fill the remaining space */
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}

.card {
  width: 20rem;
  height: 8rem;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(
    -5px
  ); /* Bounce effect by moving the card up slightly */
}

.card-body {
  padding: 10px 10px 8px;
}

.title {
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 0rem;
}

.title-chart {
 font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0rem;
}

.value {
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  font-size: 19px;
  margin: 8px 0px;
  font-weight: bold;
}

.subtitle {
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  font-size: 12px;
  margin-bottom: 8px;
}

/* Media queries for screen size and sidebar state */
@media (max-width: 620px) {
  .barChart,
  .doughnutChart,
  .table-form,
  .pieChart {
    width: 100%; /* Full width for smaller screens */
    height: 260px; /* Adjust the height as needed */
  }

  .card {
    height: auto; /* Allow content to determine the card's height */
  }

  /* Adjust styles when the sidebar is open */
  .sidebar-open .col1 {
    width: 0;
  }

  .sidebar-open .col {
    padding-left: 0;
  }
}

/* Additional media query for screen height of 836px */
@media (max-height: 836px) {
  .card {
    width: 18rem;
  }
  .barChart {
    width: 650px;
    height: 350px;
  }
  .table-form {
    width: 650px;
    height: 350px;
  }
  .doughnutChart,
  .pieChart {
    width: 510px;
    height: 350px; /* Adjust the height for screens with 836px height */
  }
}

/*------------------------------------ Table Design ------------------------------------------------------*/

.table-container {
  margin-top: 20px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  
}

.table-scroll-container {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 400px; /* Set a fixed maximum height for the table */
  width: calc(100% + 2px);
  margin: -1px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 20px;
  color: #949494;
}
.table td {
  overflow: auto;
  color: black;
}

.table th {
  border-bottom: 3px solid #efefef;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  position: sticky;
  top: 0px;
}

.table tbody tr:nth-child(even) {
  background-color: #fbf7f7;
}

.table tbody tr:hover {
  background-color: #cee2f5;
}

.image-container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-radius: 50%;
}
