.container {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column; /* Make the children stack vertically */
  justify-content: space-between; /* Distribute space evenly between children */
  padding: 0 20px 20px 20px;
  overflow: auto;
  gap: 5px;
}

.topSection {
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between; /* Distribute space evenly between children */
  flex: 0;
  height: 100%;
  gap: 5px;
}

.col1 {
  flex: 1;
}

.midSection {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex: 2;
  height: 100%;
  gap: 5px;
  overflow: hidden;
}

.col {
  flex: 1; /* Allow this column to fill available space */
  float: left;
}

.row {
  display: flex;
  flex-direction: column;
}

.doughnutChart {
  border: 1px solid rgb(163, 165, 172);
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  padding-bottom: 15px;
  flex: 1;
}

.pieChart {
  border: 1px solid rgb(163, 165, 172);
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  padding-bottom: 15px;
  flex: 1;
}

.barChart {
  border: 1px solid rgb(163, 165, 172);
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  flex: 1;
  padding-bottom: 40px;
}

.table-form {
  border: 1px solid rgb(163, 165, 172);
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  flex: 2;
  height: 100%;
}
.lineChart {
  border: 1px solid rgb(163, 165, 172);
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  flex: 2;
  padding-bottom: 40px;
}

.table-form:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(
    -5px
  ); /* Bounce effect by moving the card up slightly */
}
.barChart:hover,
.doughnutChart:hover,
.pieChart:hover,
.lineChart:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(
    -5px
  ); /* Bounce effect by moving the card up slightly */
}

.bottomSection {
  padding: 5px;
  /*flex: 0; /* Let this section grow to fill the remaining space */
  display: flex;
  justify-content: space-between;
  /*align-self: flex-start;*/
  flex: 2;
  height: 100%;
  overflow: hidden;
  gap: 5px;
}

.card {
  height: 100%;
  padding: 8px;

  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(
    -5px
  ); /* Bounce effect by moving the card up slightly */
}

.card-body {
  padding: 10px 10px 8px;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 1em;
  margin-bottom: 0rem;
}

.title-chart {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  padding: 1em;
  font-size: 1.25rem;
  margin-bottom: 0rem;
}

.value {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 1.5em;
  color: #be0028;
  margin: 8px 0px;
  font-weight: bold;
}

.subtitle {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 1em;
  color: black;
  margin-bottom: 8px;
}
/*------------------------------------ Table Design ------------------------------------------------------*/
.table-container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.table-scroll-container {
  overflow-y: auto; /* Enable vertical scrolling */
  /*max-height: 25vh;*/
  /* Set a fixed maximum height for the table */
  width: calc(100% + 2px);
  margin: -1px;
}
.table-form .title-chart {
  text-align: center;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table tr {
  z-index: 0;
}

.table th,
.table td {
  padding: 10px;
  color: #949494;
}
.table td {
  overflow: auto;
  color: black;
}
.table td > * {
  vertical-align: middle;
}

.table th {
  background-color: white;
  border-bottom: 3px solid #efefef;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.table tbody tr:nth-child(even) {
  background-color: #fbf7f7;
}

.table tbody tr:hover {
  background-color: #cee2f5;
}

.profile-image {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
@media only screen and (width> 1000px) {
  .title {
    font-size: 1.25em;
  }

  .title-chart {
    font-size: 1.3rem;
  }

  .value {
    font-size: 2em;
  }

  .subtitle {
    font-size: 1em;
  }
  .card {
    padding: 15px;
  }
}
