/* Form styles */
.formBody {
  margin: 10px auto;
  padding: 1em 3em 2em 3em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: #ffffff;
  max-height:max-content;
  max-width: 600px;
}

.formContainer{
  max-width: 70em;
  max-height: max-content;
  padding: 1em 2em 1em 2em;
  margin: 10px auto;
  background-color: #de3535;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.formWrapper {
  max-width: 70em;
  max-height: max-content;
  padding: 1em 3em 2em 3em;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.form {
  width: 100%; /* Adjust the width as needed */
  padding: 0 10px; /* Add some padding to form sections */
}


/* Heading styles */
.h4 {
  color: #f0a500;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.h5 {
  color: #8d8d8d;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* Input and Select styles */
.input {
  width: 100%;
  min-height: 3.5em;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: 0.35s ease-in-out;
}

.input:focus {
  outline: 0;
  border-color: #bd8200;
}

.input:focus + .inputIcon {
  color: #f0a500;
}

.input:focus + .inputIcon:after {
  border-right-color: #f0a500;
}

.input:checked {
  background-color: #f0a500;
  color: #fff;
  border-color: #bd8200;
}

.input[id="terms"] + .label {
  font-size: 13px;
}

.input:checked + .label:after {
  opacity: 1;
}

/* Spacing between input fields */
.inputGroup {
  margin-bottom: 2em;
}

/* Padding for input fields */
.inputGroup input {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.inputGroup:before,
.inputGroup:after {
  content: "";
  display: table;
}

.inputGroup:after {
  clear: both;
}

.inputGroupIcon {
  position: relative;
}

.inputGroupIcon input {
  padding-left: 4.4em;
}

.inputGroupIcon .inputIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}

.inputGroupIcon .inputIcon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  transition: 0.35s ease-in-out;

}

.inputGroupIcon .inputIcon i {
  transition: 0.35s ease-in-out;
}

.textarea {
  width: 100%;
  max-height: 3.5em;
  max-height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  padding-left: 4.5em; /* Adjust the left padding to accommodate the icon */
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.textarea:focus {
  outline: 0;
  border-color: #bd8200;
}

/* Row and Column styles */
.row {
  zoom: 0;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.colHalf {
  padding-right: 10px;
  float: left;
  width: 50%;
}

.colHalf:last-of-type {
  padding-right: 0;
}

.colThird {
  padding-right: 10px;
  float: left;
  width: 100%;
}

.colThird:last-of-type {
  padding-right: 0;
}

/* Button styles */
.button {
  background-color: #de3737;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  margin-top: 1em; /* Increase the margin above the button */
  padding: 1em 2.5em;
  text-decoration: none;
  width: 100%;
  height: 3em;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #fb8c00;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 768px) {
  .formWrapper {
    flex-direction: column;
    border-right: none; /* Remove separator on small screens */
    padding: 1em 3em 2em 3em; /* Reset padding */
  }

  .form {
    width: 100%;
    padding: 0; /* Reset padding */
  }

  .colHalf {
    width: 100%;
    padding-right: 0;
  }

  .button {
    margin-top: 1em; /* Increase the margin above the button */
    padding: 1.2em 2.5em; /* Increase button padding for better spacing */
  }

}