.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.actions {
  align-self: flex-end;
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.bc-status-radios {
  text-align: left;
}

.email-status-label {
  padding: 5px;
  border-radius: 20px;
}

.email-status-complete {
  background-color: lightgreen;
}

.email-status-pending {
  background-color: lightblue;
}