.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.actions {
  align-self: flex-end;
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.bc-status-radios {
  text-align: left;
}

.email-status-label {
  padding: 5px;
  border-radius: 20px;
}

.email-status-complete {
  background-color: lightgreen;
}

.email-status-pending {
  background-color: lightblue;
}

.container-search-button{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

.search-bar {
  width: 265px;
  height: 42px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  background-color: #be0028;
  margin-right: 10px;
}

.search-bar input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  color: black;
  border: 2px solid;
  border-color: #be0028;
  outline: none;
}

.search-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  color: white; 
}