.portal-main {
  display: flex;
  height: 100%;
}

.portal-content {
  flex-grow: 1;
}

.portal-header {
  display: flex;
  align-items: center;
  height: 55px;
  background-color: white;
  color: black;
  padding: 0 15px;
  position: relative;
}

.portal-header-logo {
  position: relative;
  width: 70px;
  height: 100%;
  margin-left: 15px;
}

.portal-header-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  flex-grow: 1;
  padding: 2em;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header {
  font-size: 2.5em; /* Slightly smaller font size */
}

.content {
  font-size: 1em; /* Smaller font size */
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1em; /* Slightly smaller margin */
  color: #be0028; /* Set font color to red */
}

.sidebar-container {
  overflow-x: hidden;
  white-space: nowrap;
  width: 270px;
  transition: width 0.5s ease;
}

.sidebar-container.closed {
  width: 0;
}

.sidebar {
  width: 270px;
  background-color: white;
  height: 100%;
  padding: 15px;
  margin: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Added a subtle box shadow */
  display: flex;
  flex-direction: column;
}

.sidebar-menu {
  display: block;
  transition: background-color 0.15s;
  font-size: 1em; /* Standardized font size */
  color: #be0028; /* Set font color to red */
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  vertical-align: middle;
}

.sidebar-title:hover {
  background-color: #f5f5f5; /* Lighter grey on hover */
}

.sidebar-title button {
  background: none;
  color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.sidebar-title button, .sidebar-title a {
  padding: 8px 16px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar-menu .icon {
  display: inline-block;
  width: 1.2em; /* Slightly smaller icon width */
  color: #be0028; /* Set icon color to red */
  margin-right: 5px;
}

.sidebar-content {
  overflow: hidden;
  transition: height 0.2s ease;
}

.sidebar-menu-arrow {
  margin-left: auto;
  transition: transform 0.2s ease;
}

.sidebar-menu-arrow.open {
  transform: rotate(-90deg);
}

.sidebar-logout {
  background-color: #be0028;
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 2px;
  font-weight: lighter;
  margin-top: auto;
}

.sidebar-logout * {
  padding: 5px;
}