.sidebar-container {
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 0.5s ease;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.sidebar {
  background-color: white;
  height: 93%;
  padding: 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-menu {
  display: block;
  transition: background-color 0.5s;
  font-size: 18px; /* Standardized font size */
  color: #be0028; /* Set font color to red */
  padding: 5px;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  vertical-align: middle;
  transition: padding 0.2s ease; /* Adjust the transition property */
}

.sidebar-title:hover {
  background-color: #f5f5f5; /* Lighter grey on hover */
  padding: 4px;
}

.sidebar-title button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.sidebar-title button,
.sidebar-title a {
  padding: 8px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease; /* Adjust the transition property */
}

.sidebar-menu-icon * {
  display: inline-block;
  width: 19px; /* Slightly smaller icon width */
  color: #be0028; /* Set icon color to red */
  margin-right: 5px;
  transition: color 0.2s ease; /* Adjust the transition property for icon color */
}

.sidebar-content {
  overflow: hidden;
  transition: height 0.5s ease;
}

.sidebar-menu-arrow {
  margin-left: auto;
  transition: transform 0.2s ease;
}

.sidebar-menu-arrow.open {
  transform: rotate(-90deg);
}

.sidebar-logout {
  background-color: #be0028;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 2px;
  font-weight: lighter;
  margin-top: auto;
  cursor: pointer;
}
.sidebar-logout:hover {
  cursor: pointer;
  padding: 6px;
  background-image: linear-gradient(-180deg, #1d95c9 0%, #3c13ac 100%);
}

.sidebar-logout * {
  padding: 5px;
}

.sidebar-content .sidebar-title {
  padding-left: 24px;
}
.portal-header-logo {
  top: 1%;
  left: -5%;
  position: relative;
  font-size: 2em;
  height: 5%;
  margin-bottom: 10px;
}
