.table-container {
  margin: auto;
  width: 100%;
  border: 1px solid rgb(230, 228, 228);
}

.table-scroll-container {
  overflow: auto;
  width: calc(100% + 2px);
  margin: -1px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 7px;
  color: white;
  text-align: center;
  border: 1px solid rgb(230, 228, 228);
}
.table td {
  color: black;
}

.table th {
  font-size: 1.1em;
  background-color: #be0028;
  font-weight: bold;
  font-family: Arial, sans-serif;
  position: sticky;
  top: 0;
}

.table tbody tr:nth-child(even) {
  background-color: #fbf7f7;
}

.table tbody tr:hover {
  background-color: #cee2f5;
}
.table-footer {
  font-size: 16px;
  background-color: #f1efef;
  padding: 5px;
}
.table-show {
  display: flex;
}
.table-footer-right {
  display: flex;
  font-size: 16px;
  margin-right: 10px;
  float: right;
}
.table-footer-right .pre-search {
  margin-right: 15px;
  text-decoration: underline;
}
.table-footer-right .after-search {
  margin-left: 10px;
}
.table-footer-right .pagination-btn {
  font-size: 16px;
  margin-left: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-decoration: underline;
}
.table-footer-right .Go-btn {
  color: #be0028;
}
