.table-container {
  margin: auto;
  width: 100%;
  border: 1px solid rgb(230, 228, 228);
}

.table-scroll-container {
  overflow: auto;
}

.table {
  margin: -1px;
  border-collapse: collapse;
  width: 100%;
}

.table th, .table td {
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(230, 228, 228);
}

.table th {
  background-color: #fff3da;
  font-weight: bold;
  font-family: Arial, sans-serif;
  position: sticky;
  top: -1px;
}

.table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.table tbody tr:hover {
  background-color: #f2f2f2;
}

.table-footer {
  background-color: #fff3da;
  padding: 5px;
}

.table-footer-right {
  float: right;
}