.login-bg {
  width: 100vw;
  height: 100vh;
  background-color: #be0028;
}

.login-card {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  width: 450px;
  height: 600px;
  color: black;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 50px -10px black;
  text-align: center;
  padding: 50px;
}

.logo {
  position: relative;
  height: 65px;
}

.title {
  color: #be0028;
  font-size: 2.7em;
  font-weight: bold;
}

.fields {
  text-align: left;
}

.welcome-back {
  width: 100%;
  font-size: 0.75em;
  color: gray;
  margin-top: 20px;
}

.sign-in {
  width: 100%;
  font-size: 2.3em;
  font-weight: 600;
  margin: 5px 0;
}

.login-field {
  margin: 20px 0 0 0;
}

.login-field label {
  text-shadow: 1px 2px 2px #eeeeee;
  font-size: 1em;
}

.login-field input {
  background-color: #eeeeee;
  padding: 12px;
  border-radius: 8px;
  border: none;
  color: black;
  width: 100%;
  margin-top: 3px;
  font-size: 0.7em;
  box-shadow: 2px 4px 5px -5px black;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.login-field input:hover {
  background-color: #e8e8e8;
  box-shadow: 1px 2px 5px -2px black;
}

.login-field input:focus {
  outline: none;
}

.sign-in-btn {
  margin: 0 auto;
  display: block;
  padding: 10px 20px 10px 20px;
  background-color: #be0028;
  border: none;
  color: white;
  border-radius: 100px;
  font-size: 0.7em;
  box-shadow: 2px 4px 5px -5px white;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.sign-in-btn:hover {
  box-shadow: 1px 2px 5px -2px black;
}

.show-password {
  margin-top: 5px;
  font-size: 0.8em;
}

.show-password input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 2px;
}
