/* components/style.css */

/* Style for the container */
.container {
  flex-direction: column;
  padding-left: 30px;
}

/* Style for the header */
.header h1 {
  margin: 0;
  align-items: center;
  width: 120%;
  margin: 10px;
  padding: 10px;
}

/* Updated Style for the search bar */
.search-bar {
  width: 300px;
  height: 40px;
  margin: 10px auto; /* Center the search bar horizontally */
  margin-right: 30px; /* Add margin to push it to the right side */
  background-color: #b0c4de; /* Use a blue background color */
  display: flex;
  align-items: center;
  border-radius: 25px; /* Increase border radius for a rounded look */
  border: none; /* Remove the border */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: background-color 0.3s ease;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 10px; /* Increase padding for better input spacing */
  border: none;
  background-color: transparent; /* Transparent input background */
  font-size: 16px; /* Larger font size for readability */
  color: #fff; /* Set text color to white */
  outline: none;
}

/* Style for the search icon */
.search-icon {
  font-size: 24px; /* Slightly larger icon size */
  margin-right: 10px;
  color: #fff; /* Set icon color to white */
  cursor: pointer; /* Add a pointer cursor for interaction */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.search-icon:hover {
  color: #f39c12; /* Change icon color on hover */
}

/* Style for the table container */
.tbl-container {
  overflow-x: auto; /* Enable horizontal scrollbar when needed */
  max-width: 70%; /* Ensure the table container doesn't exceed its parent */
  max-height: 300px; /* Adjust the height as needed */

}

/*Style for pop-up button temp - added in global.css, not working.*/
.popup-button {
  background-color: #FFEABF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  padding: 10px 40px;
  margin: 5px;
  border: none;
}

.popup-button:hover {
  background-color: #96969675;
  transition: 0.5s ease;
  cursor: pointer;
  color: #f20000;
}

@media (max-width: 640px) {
  /* Style for the modal container */
  .modal {
    width: auto;
    max-width: 90%; 
  }

  /* Style for the container */
  .container {
    padding-left: 10px; 
  }

  /* Style for the search bar */
  .search-bar {
    width: auto;
    margin-right: 10px; 
  }
}

/* Media query for 800x600 */
@media (max-width: 800px) {
  /* Style for the modal container */
  .modal {
    width: auto;
    max-width: 90%; 
  }

  /* Style for the container */
  .container {
    padding-left: 20px; 
  }

  /* Style for the search bar */
  .search-bar {
    width: auto;
    margin-right: 20px; 
  }
}

/* Media query for 1024x768 */
@media (max-width: 1024px) {
  /* Style for the modal container */
  .modal {
    width: auto;
    max-width: 90%; 
  }

  /* Style for the container */
  .container {
    padding-left: 30px; 
  }

  /* Style for the search bar */
  .search-bar {
    width: auto;
    margin-right: 30px; 
  }
}
