/* components/style.css */

/* Style for the container */
.container {
  flex-direction: column;
  padding-left: 30px;
}

/* Style for the header */
.header h1 {
  margin: 0;
  align-items: center;
  width: 120%;
  margin: 10px;
  padding: 10px;
}

.container-search-button{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

.search-bar {
  width: 265px;
  height: 42px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  background-color: #be0028;
  margin-right: 10px;
}

.search-bar input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  color: black;
  border: 2px solid;
  border-color: #be0028;
  outline: none;
}

.search-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  color: white; 
}

/* Style for the table container */
.tbl-container {
  overflow-x: auto; /* Enable horizontal scrollbar when needed */
  max-width: 70%; /* Ensure the table container doesn't exceed its parent */
  max-height: 300px; /* Adjust the height as needed */

}

/*Style for pop-up button temp - added in global.css, not working.*/
.popup-button {
  background-color: #FFEABF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  padding: 10px 40px;
  margin: 5px;
  border: none;
}

.popup-button:hover {
  background-color: #96969675;
  transition: 0.5s ease;
  cursor: pointer;
  color: #f20000;
}

@media (max-width: 640px) {
  /* Style for the modal container */
  .modal {
    width: auto;
    max-width: 90%; 
  }

  /* Style for the container */
  .container {
    padding-left: 10px; 
  }

  /* Style for the search bar */
  .search-bar {
    width: auto;
    margin-right: 10px; 
  }
}

/* Media query for 800x600 */
@media (max-width: 800px) {
  /* Style for the modal container */
  .modal {
    width: auto;
    max-width: 90%; 
  }

  /* Style for the container */
  .container {
    padding-left: 20px; 
  }

  /* Style for the search bar */
  .search-bar {
    width: auto;
    margin-right: 20px; 
  }
}

/* Media query for 1024x768 */
@media (max-width: 1024px) {
  /* Style for the modal container */
  .modal {
    width: auto;
    max-width: 90%; 
  }

  /* Style for the container */
  .container {
    padding-left: 30px; 
  }

  /* Style for the search bar */
  .search-bar {
    width: auto;
    margin-right: 30px; 
  }
}
