/* Style for the container */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 20px;
  padding-left: 30px;
  margin: 20px;
}

.card {
  max-height: 20rem;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(
    -5px
  ); /* Bounce effect by moving the card up slightly */
}

.card-img {
  position: relative;
  height: 150px;
  width: 100%;
  display: block;
}

.card-body {
  padding: 10px 10px 8px;
}

.card-body * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-name {
  font-size: 1.25rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.5rem;
}

.department {
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 8px;
}

/* Style for the modal overlay (background) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Style for the modal container */
.modal {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 3%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;

  width: 400px;
  position: relative; /* Added for positioning the close button */
}
.modal-overlay h2 {
  padding: 25px;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.header {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.scroll-container {
  overflow: auto;
  max-height: 500px;
}

.modal-content {
  background-color: #f9f9f9;
  padding: 5px;
  box-sizing: border-box;

  word-wrap: break-word;
}
.modal-content:nth-child(1) {
  border-bottom: 2px solid black;
}

.radio-button-group {
  display: flex;
  flex-direction: column;
}
.radio-button-group input {
  margin-right: 5px;
}
.modal-content h4 {
  padding-bottom: 5px;
  text-transform: uppercase;
}
.modal-content input {
  margin-bottom: 5px;
  padding: 5px;
}
/* Style for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: black;
  transition: background-color 0.3s; /* Add smooth transitions for background-color and color */
}

/* Style for the close button */
.close-button:hover {
  background-color: #d02216;
  color: white;
  border: none;
}

/* Style for the confirm action button */
.confirm-btn {
  margin: 30px auto 10px; /* Center the button horizontally and add margin at the bottom */
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0px 0px 14px -7px #000000;
  background-color: #be0028;
  cursor: pointer;
  touch-action: manipulation;
}

.confirm-btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(
    -5px
  ); /* Bounce effect by moving the card up slightly */
}

.confirm-btn:active {
  transform: scale(0.95);
}

.input-field {
  padding: 2px;
  border-radius: 10px;
}
